<!--inserindo um navbar simples, do boostrap, como título da tabela-->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Agenda de Alunos</span>
  </div>
</nav>

<!--inserindo uma tabela, do boostrap, com hover (ao passar o mouse a linha escurece levemente)-->
<table class="table table-danger table-hover">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">RU</th>
      <th scope="col">Curso</th>
      <th scope="col">Data Nascimento</th>
    </tr>
  </thead>

  <tbody>
    <tr class="table table-success" *ngFor= "let estudante of alunos">
      <th scope="row">{{estudante.nome}}</th>
      <td>{{estudante.ru}}</td>
      <td>{{estudante.curso}}</td>
      <td>{{estudante.dataNasc}}</td>
    </tr>
  </tbody>
</table>
<router-outlet></router-outlet>
